<template>
  <q-page>
    <div class="row justify-center">
      <div class="login-page col-lg-4 col-sm-6 col-xs-10 justify-center">
        <div class="login-title row justify-center">
          <h2>Log In to Klara</h2>
        </div>
        <q-field
          icon="person"
          :error="invalidCredentials"
        >
          <q-input v-model="username" float-label="Username" />
        </q-field>
        <q-field
          icon="lock"
          :error="invalidCredentials"
        >
          <q-input v-model="password" float-label="Password" type="password" />
        </q-field>

        <div class="login-button column content-center">
          <q-btn label="Login" icon="send" color="light-blue-6" @click="login" />
        </div>

        <br>

        <div class="registration-links row justify-center">
          <router-link :to="{ name: 'Dashboard' }" class="registration-links">
            Forgot Password?
          </router-link>
          <div class="content-center row">
            <i class="fa fa-circle self-center link-separator"></i>
          </div>
          <router-link :to="{ name: 'Dashboard' }" class="registration-links">
            Register
          </router-link>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { Notify } from 'quasar'

export default {
  data() {
    return {
      username: '',
      password: '',
      invalidCredentials: false,
    };
  },

  methods: {
    login() {

      this.$store.dispatch('login', { username: this.username, password: this.password })
        .then(() => {
          this.invalidCredentials = false;
          this.$router.push({ name: '/' });
        })
        .catch(() => {
          this.invalidCredentials = true;
          Notify.create({
            message: 'Invalid credentials!',
            icon: 'warning'
          });
          // Notify.create({
          // })
          this.errors.add('wrong-credentials', 'Wrong Credentials');
        });
    },

  },
};

</script>

<style>
.link-separator {
  font-size: .3em;
  margin: 0em 1em;
}

.registration-links {
  color: #80b3ff;
}
.login-button {
  margin: 10% 0%;
}

.login-button button {
  width: 100%;
}
</style>
