<template>
  <div class="chart-info">
    <!-- <div class='legend-title'>Legenda</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#b9c7b4;'></span>Péssimo</li>
        <li><span style='background:#a7c49e;'></span>Ruim</li>
        <li><span style='background:#82bf73;'></span>Regular</li>
        <li><span style='background:#4eb73f;'></span>Bom</li>
        <li><span style='background:#19b217;'></span>Muito Bom</li>
      </ul>
    </div>
    <div class='legend-source'>Source: <a href="#link to source">Name of source</a></div> -->
    <div class="source-wrapper row reverse">
      <div class="legend-source q-caption text-right">{{source}}</div>
    </div>
    <div class="legend-wrapper row">
      <div class="legend-item row col-auto items-center" v-for="item in legend">
        <q-chip class="item-chip" :color="item.color" wrap square dense></q-chip>
        <div class="item-text column inline content-center justify-between">
          <div class="q-body-1">{{item.label}}</div>
          <div class="q-body-1">{{item.description}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['legend', 'source'],
  name: 'Legend',
};
</script>

<style>
.legend-item {
  margin: .4em 0em;
}
.item-chip {
  padding: 2em 1em;
}
.item-text {
  margin: 0em .2em;
  height: 100%;
}
.item-text p {
  margin: 0em;
}
.legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  margin: .4em 0em 0em;
}
/* .my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}
.my-legend a {
  color: #777;
}
.my-legend{
  margin-left: 43%;
} */
</style>
