<template>
  <div class="mark-map row justify-center">
    <l-map
      :zoom="zoom"
      :min-zoom="zoom"
      :center="center"
      id= "mark-map">
       <l-geo-json
        :geojson="geojson"
        :options="options"/>
        <l-circle
        v-if="apiDataLoaded === true"
        v-for="sample in statesData" :key="sample.id"
        :lat-lng="sample.coordenadas"
        :radius="10000"
        :l-style="lstyle(sample.ph, sample.tds, sample.turbidez, sample.iqa)"
        >
        <l-popup content="Dessalinizador"/>
      </l-circle>
      <l-tile-layer
        :url="url"
        :attribution="attribution"/>
    </l-map>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { LMap, LTileLayer, LGeoJson, LCircle, LPopup } from 'vue2-leaflet';
import { default as data } from '../../services/map/Brasil_Estados.js';
import samples from '../../sampleData';

export default {
  name: 'StateMap',
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LCircle,
    LPopup
  },
  data () {
    return {
      a: 'green',
      b: 'red',
      c: 'orange',
      d: 'yellow',
      e: '#8bc34a',
      apiDataLoaded: false,
      zoom: 3.2,
      center: L.latLng(-15.6014, -54.0979),
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      geojson: data.Brasil,
      radius: 10000,
      statesData: [],
    };
  },
  async mounted() {
    let data = await samples();
    this.statesData = data;
    this.apiDataLoaded = true;
  },
  computed: {
    ...mapState({
      typeMap: state => state.typeMap.type,
    }),
    options() {
      let style = this.style.bind(this);

      return { style }
    }
  },
  methods: {
    lstyle(ph, tds, turbidez, iqa){
      if(this.typeMap === 'PH'){
        if(ph >= 6 && ph <= 9){
          return {
            color:this.a,
            fillColor:this.a
          }
        }
        else if((ph >= 0 && ph <= 2) || (ph >= 12 && ph <= 14)){
          return {
            color:this.b,
            fillColor:this.b
          }
        }
        else if((ph > 2 && ph <= 3) || (ph >= 11 && ph < 12)){
          return {
            color:this.c,
            fillColor:this.c
          }
        }
        else if((ph > 3 && ph <= 4) || (ph >= 10 && ph < 11)){
          return {
            color:this.c,
            fillColor:this.c
          }
        }
        else if((ph > 4 && ph <= 6) || (ph >= 9 && ph < 10)){
          return {
            color:this.d,
            fillColor:this.d
          }
        }
      }
      else if(this.typeMap === 'TDS'){
        if(tds <= 500){
          return {
          color:this.e,
          fillColor:this.e
        }
        }
        else if(tds > 500 && tds <= 550){
          return {
          color:this.d,
          fillColor:this.d
        }
        }
        else if(tds > 550 && tds <= 600){
          return {
          color:this.c,
          fillColor:this.c
        }
        }
        else if(tds > 650 && tds <= 700){
          return {
          color:this.b,
          fillColor:this.b
        }
        }
        else if(tds > 750){
          return {
          color:this.a,
          fillColor:this.a
        }
        }
      }
      else if(this.typeMap === 'TURB'){
        if(turbidez <= 100){
          return {
          color:this.e,
          fillColor:this.e
        }
        }
        else if(turbidez > 100 && turbidez <= 150){
          return {
          color:this.d,
          fillColor:this.d
        }
        }
        else if(turbidez > 150 && turbidez <= 200){
          return {
          color:this.c,
          fillColor:this.c
        }
        }
        else if(turbidez > 200 && turbidez <= 250){
          return {
          color:this.b,
          fillColor:this.b
        }
        }
        else if(turbidez > 250){
          return {
          color:this.a,
          fillColor:this.a
        }
        }
        return {
          color:this.d,
          fillColor:this.d
        }
      }
      else if(this.typeMap === 'IQA'){
        if(iqa > 4){
          return {
          color:this.e,
          fillColor:this.e
        }
        }
        else if(iqa <= 4 && iqa > 3){
          return {
          color:this.d,
          fillColor:this.d
        }
        }
        else if(iqa <= 3 && iqa > 2){
          return {
          color:this.c,
          fillColor:this.c
        }
        }
        else if(iqa <= 2 && iqa > 1){
          return {
          color:this.b,
          fillColor:this.b
        }
        }
        else if(iqa < 1){
          return {
          color:this.a,
          fillColor:this.a
        }
        }
      }
    },

    style(feature) {
      return {
        fill: true,
        weight: 1,
        opacity: 1,
        color: '#5cd65c',
        fillOpacity: 0.1
      }
    },
  }
};
</script>

<style>
.mark-map {
  width: inherit;
}
#mark-map {
  width: inherit;
  height: 40vh;
}
#c1{
  background-color: '#fd8d3c';
  width: 1em;
  height: 1em;
}
#c2{
  background-color: '#800026';
  width: 1em;
  height: 1em;
}
#c3{
  background-color: '#BD0026';
  width: 1em;
  height: 1em;
}
#c4{
  background-color: '#FED976';
  width: 1em;
  height: 1em;
}
#c5{
  background-color: '#FC4E2A';
  width: 1em;
  height: 1em;
}
#c6{
  background-color: '#FEB24C';
  width: 1em;
  height: 1em;
}
</style>
