<template>
  <div class="region-map row justify-center">
    <l-map
      :zoom="zoom"
      :min-zoom="zoom"
      :center="center"
      :options="mapOptions"
      id="region-map">
       <l-geo-json
        v-if="apiDataLoaded === true"
        :geojson="geojson"
        :options="options"/>
      <l-tile-layer
        :url="url"
        :attribution="attribution"/>
    </l-map>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { LMap, LTileLayer, LGeoJson } from 'vue2-leaflet';
import { default as data } from '../../services/map/Brasil_Estados';
import samples from '../../sampleData';

export default {
  name: 'RegionMap',
  components: {
    LMap,
    LTileLayer,
    LGeoJson
  },
  data () {
    return {
      apiDataLoaded: false,
      zoom: 3.2,
      statesData: [],
      a: '#b9c7b4',
      b: '#a7c49e',
      c: '#82bf73',
      d: '#4eb73f',
      e: '#19b217',
      mapOptions: { zoomControl: false },
      center: L.latLng(-15.6014, -54.0979),
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      geojson: data.Brasil
    };
  },
  async mounted() {
    let data = await samples();
    this.statesData = data;
    this.apiDataLoaded = true;
  },
  computed: {
    ...mapState({
      typeMap: state => state.typeMap.type,
    }),

    options() {
      let style = this.style.bind(this);

      return { style }
    }
  },
  methods: {
    regionCollor() {
    },
    style(feature) {
          return {
            fill: true,
            weight: 1,
            opacity: 1,
            color: this.color(feature.properties.Name, this.typeMap),
            fillOpacity: 0.7
          }
        },
    color(state, type){
  if(state === "AM" || state === "RR" || state === "AP" || state === "PA" || state === "TO" || state === "RO" || state === "AC"){
       return this.colorRegions(type, 'N');
     }
    if(state === "MA" || state === "PI" || state === "CE" || state === "RN" || state === "PE" || state === "PB" || state === "SE" || state === "AL" || state === "BA"){
       return this.colorRegions(type , 'NE');
     }
    if(state === "SP" || state === "RJ" || state === "ES" || state === "MG"){
       return this.colorRegions(type, 'SE');
     }
     if(state === "MT" || state === "MS" || state === "GO" || state === "DF"){
       return this.colorRegions(type, 'CO');
     }
     if(state === "PR" || state === "RS" || state === "SC"){
       return this.colorRegions(type, 'S');
     }
},
    colorRegions(type, region){
      switch(type){
        case "IQA":
          return this.iqaColorCalculate(region);
          break;
        case "PH":
          return this.phColorCalculate(region);
          break;
        case "TURB":
          return this.tubidezColorCalculate(region);
          break;
        case "TDS":
          return this.tdsColorCalculate(region);
          break;
      }
    },
    iqaColorCalculate(region) {
      var iqaValue = []
      for(var i in this.statesData){
        if(region === 'N')
        {
          if(this.statesData[i].state === "AM" || this.statesData[i].state === "RR" || this.statesData[i].state === "AP" || this.statesData[i].state === "PA" || this.statesData[i].state === "TO" || this.statesData[i].state === "RO" || this.statesData[i].state === "AC"){
            iqaValue.push(this.statesData[i].ph);
          }
        }
        else if(region === 'NE')
        {
          if(this.statesData[i].state === "MA" || this.statesData[i].state === "PI" || this.statesData[i].state === "CE" || this.statesData[i].state === "RN" || this.statesData[i].state === "PE" || this.statesData[i].state === "PB" || this.statesData[i].state === "SE" || this.statesData[i].state === "AL" || this.statesData[i].state === "BA"){
           iqaValue.push(this.statesData[i].ph);
          }
        }
        else if(region === 'SE'){
          if(this.statesData[i].state === "SP" || this.statesData[i].state === "RJ" || this.statesData[i].state === "ES" || this.statesData[i].state === "MG"){
           iqaValue.push(this.statesData[i].ph);
          }
        }
        else if(region === 'CO'){
          if(this.statesData[i].state === "MT" || this.statesData[i].state === "MS" || this.statesData[i].state === "GO" || this.statesData[i].state === "DF"){
           iqaValue.push(this.statesData[i].ph);
          }
        }
        else if(region === 'S'){
          if(this.statesData[i].state === "PR" || this.statesData[i].state === "RS" || this.statesData[i].state === "SC"){
           iqaValue.push(this.statesData[i].ph);
          }
        }
      }

      if(iqaValue.length != 0)
      {
        var sum = iqaValue.reduce((a, b) => a + b, 0);
        var media = (sum/(iqaValue.length))
        if(media > 4){
          return this.e
        }
        else if(media <= 4 && media > 3){
          return this.d
        }
        else if(media <= 3 && media > 2){
          return this.c
        }
        else if(media <= 2 && media > 1){
          return this.b
        }
        else if(media < 1){
          return this.a
        }
      }
      else
      {
        return '#f2efe9'
      }
    },
    phColorCalculate(region) {
      var phValue = []
      for(var i in this.statesData){
        if(region === 'N')
        {
          if(this.statesData[i].state === "AM" || this.statesData[i].state === "RR" || this.statesData[i].state === "AP" || this.statesData[i].state === "PA" || this.statesData[i].state === "TO" || this.statesData[i].state === "RO" || this.statesData[i].state === "AC"){
            phValue.push(this.statesData[i].ph);
          }
        }
        else if(region === 'NE')
        {
          if(this.statesData[i].state === "MA" || this.statesData[i].state === "PI" || this.statesData[i].state === "CE" || this.statesData[i].state === "RN" || this.statesData[i].state === "PE" || this.statesData[i].state === "PB" || this.statesData[i].state === "SE" || this.statesData[i].state === "AL" || this.statesData[i].state === "BA"){
           phValue.push(this.statesData[i].ph);
          }
        }
        else if(region === 'SE'){
          if(this.statesData[i].state === "SP" || this.statesData[i].state === "RJ" || this.statesData[i].state === "ES" || this.statesData[i].state === "MG"){
           phValue.push(this.statesData[i].ph);
          }
        }
        else if(region === 'CO'){
          if(this.statesData[i].state === "MT" || this.statesData[i].state === "MS" || this.statesData[i].state === "GO" || this.statesData[i].state === "DF"){
           phValue.push(this.statesData[i].ph);
          }
        }
        else if(region === 'S'){
          if(this.statesData[i].state === "PR" || this.statesData[i].state === "RS" || this.statesData[i].state === "SC"){
           phValue.push(this.statesData[i].ph);
          }
        }
      }
      if(phValue.length != 0)
      {
        var sum = phValue.reduce((a, b) => a + b, 0);
        var media = (sum/(phValue.length))
        if(media >= 6 && media <= 9){
          return this.e
        }
        else if((media >= 0 && media <= 2) || (media >= 12 && media <= 14)){
          return this.a
        }
        else if((media > 2 && media <= 3) || (media >= 11 && media < 12)){
          return this.b
        }
        else if((media > 3 && media <= 4) || (media >= 10 && media < 11)){
          return this.c
        }
        else if((media > 4 && media <= 6) || (media >= 9 && media < 10)){
          return this.d
        }
      }
      else
      {
        return '#f2efe9'
      }
    },
    tdsColorCalculate(region) {
      var tdsValue = []
      for(var i in this.statesData){
        if(region === 'N')
        {
          if(this.statesData[i].state === "AM" || this.statesData[i].state === "RR" || this.statesData[i].state === "AP" || this.statesData[i].state === "PA" || this.statesData[i].state === "TO" || this.statesData[i].state === "RO" || this.statesData[i].state === "AC"){
            tdsValue.push(this.statesData[i].tds);
          }
        }
        else if(region === 'NE')
        {
          if(this.statesData[i].state === "MA" || this.statesData[i].state === "PI" || this.statesData[i].state === "CE" || this.statesData[i].state === "RN" || this.statesData[i].state === "PE" || this.statesData[i].state === "PB" || this.statesData[i].state === "SE" || this.statesData[i].state === "AL" || this.statesData[i].state === "BA"){
           tdsValue.push(this.statesData[i].tds);
          }
        }
        else if(region === 'SE'){
          if(this.statesData[i].state === "SP" || this.statesData[i].state === "RJ" || this.statesData[i].state === "ES" || this.statesData[i].state === "MG"){
           tdsValue.push(this.statesData[i].tds);
          }
        }
        else if(region === 'CO'){
          if(this.statesData[i].state === "MT" || this.statesData[i].state === "MS" || this.statesData[i].state === "GO" || this.statesData[i].state === "DF"){
           tdsValue.push(this.statesData[i].tds);
          }
        }
        else if(region === 'S'){
          if(this.statesData[i].state === "PR" || this.statesData[i].state === "RS" || this.statesData[i].state === "SC"){
           tdsValue.push(this.statesData[i].tds);
          }
        }
      }
      if(tdsValue.length != 0)
      {
        var sum = tdsValue.reduce((a, b) => a + b, 0);
        var media = (sum/(tdsValue.length))
        if(media <= 500){
          return this.e
        }
        else if(media > 500 && media <= 550){
          return this.d
        }
        else if(media > 550 && media <= 600){
          return this.c
        }
        else if(media > 650 && media <= 700){
          return this.b
        }
        else if(media > 750){
          return this.a
        }
      }
      else
      {
        return '#f2efe9'
      }
    },
    tubidezColorCalculate(region) {
      var turbValue = []
      for(var i in this.statesData){
        if(region === 'N')
        {
          if(this.statesData[i].state === "AM" || this.statesData[i].state === "RR" || this.statesData[i].state === "AP" || this.statesData[i].state === "PA" || this.statesData[i].state === "TO" || this.statesData[i].state === "RO" || this.statesData[i].state === "AC"){
            turbValue.push(this.statesData[i].turbidez);
          }
        }
        else if(region === 'NE')
        {
          if(this.statesData[i].state === "MA" || this.statesData[i].state === "PI" || this.statesData[i].state === "CE" || this.statesData[i].state === "RN" || this.statesData[i].state === "PE" || this.statesData[i].state === "PB" || this.statesData[i].state === "SE" || this.statesData[i].state === "AL" || this.statesData[i].state === "BA"){
           turbValue.push(this.statesData[i].turbidez);
          }
        }
        else if(region === 'SE'){
          if(this.statesData[i].state === "SP" || this.statesData[i].state === "RJ" || this.statesData[i].state === "ES" || this.statesData[i].state === "MG"){
           turbValue.push(this.statesData[i].turbidez);
          }
        }
        else if(region === 'CO'){
          if(this.statesData[i].state === "MT" || this.statesData[i].state === "MS" || this.statesData[i].state === "GO" || this.statesData[i].state === "DF"){
           turbValue.push(this.statesData[i].turbidez);
          }
        }
        else if(region === 'S'){
          if(this.statesData[i].state === "PR" || this.statesData[i].state === "RS" || this.statesData[i].state === "SC"){
           turbValue.push(this.statesData[i].turbidez);
          }
        }
      }
      if(turbValue.length != 0)
      {

        var sum = turbValue.reduce((a, b) => a + b, 0);
        var media = (sum/(turbValue.length))
        if(media <= 100){
          return this.e
        }
        else if(media > 100 && media <= 150){
          return this.d
        }
        else if(media > 150 && media <= 200){
          return this.c
        }
        else if(media > 200 && media <= 250){
          return this.b
        }
        else if(media > 250){
          return this.a
        }
      }
      else
      {
        return '#f2efe9'
      }
    },
  }
};
</script>

<style>
.region-map {
  width: inherit;
}
#region-map {
  width: inherit;
  height: 40vh;
}
</style>
