<template>
  <div class="state-map row justify-center">
    <l-map
      :zoom="zoom"
      :min-zoom="zoom"
      :center="center"
      :options="mapOptions"
      id= "state-map">
       <l-geo-json
        v-if="apiDataLoaded === true"
        :geojson="geojson"
        :options="options" />

      <l-tile-layer
        :url="url"
        :attribution="attribution"/>
    </l-map>
  </div>

</template>

<script>
import { mapState } from 'vuex';
import { LMap, LTileLayer, LGeoJson } from 'vue2-leaflet';
import { default as data } from '../../services/map/Brasil_Estados';
import HTTP from '../../services/api/http-common';
import samples from '../../services/api/sample-data';

var asdf = []

export default {
  name: 'StateMap',
  components: {
    LMap,
    LTileLayer,
    LGeoJson
  },
  data () {
    return {
      apiDataLoaded: false,
      statesData: [],
      zoom: 3.2,
      a: '#b9c7b4',
      b: '#a7c49e',
      c: '#82bf73',
      d: '#4eb73f',
      e: '#19b217',
      mapOptions: { zoomControl: false },
      center: L.latLng(-15.6014, -54.0979),
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      geojson: data.Brasil,
    };
  },
  async mounted() {
    let data = await samples();
    this.statesData = data;
    this.apiDataLoaded = true;
  },

  computed: {
    ...mapState({
      typeMap: state => state.typeMap.type,
    }),

    options() {
      let style = this.style.bind(this);
      let onEachFeature = this.onEachFeature.bind(this);

      return { style, onEachFeature }
    },
  },
  methods: {
    style(feature) {
      return {
        fill: true,
        weight: 1,
        opacity: 1,
        color: this.color(feature.properties.Name, this.typeMap),
        fillOpacity: 0.7
      }
    },
    onEachFeature(feature, layer) {
      layer.bindPopup(feature.properties.Description);
    },
     color(state, type) {
      switch(state){
      case 'AC':
        return this.colorStates(type, state)
        break;
      case "SP":
        return this.colorStates(type, state)
        break;
      case "AL":
        return this.colorStates(type, state)
        break;
      case "AM":
        return this.colorStates(type, state)
        break;
      case "AP":
        return this.colorStates(type, state)
        break;
      case "BA":
        return this.colorStates(type, state)
        break;
      case "CE":
        return this.colorStates(type, state)
        break;
      case "DF":
        return this.colorStates(type, state)
        break;
      case "ES":
        return this.colorStates(type, state)
        break;
      case "GO":
        return this.colorStates(type, state)
        break;
      case "MA":
        return this.colorStates(type, state)
        break;
      case "MG":
        return this.colorStates(type, state)
        break;
      case "MS":
        return this.colorStates(type, state)
        break;
      case "MT":
        return this.colorStates(type, state)
        break;
      case "PA":
        return this.colorStates(type, state)
        break;
      case "PB":
        return this.colorStates(type, state)
        break;
      case "PE":
        return this.colorStates(type, state)
        break;
      case "PI":
        return this.colorStates(type, state)
        break;
      case "PR":
        return this.colorStates(type, state)
        break;
      case "RJ":
        return this.colorStates(type, state)
        break;
      case "RN":
        return this.colorStates(type, state)
        break;
      case "RO":
        return this.colorStates(type, state)
        break;
      case "RR":
        return this.colorStates(type, state)
        break;
      case "RS":
        return this.colorStates(type, state)
        break;
      case "SC":
        return this.colorStates(type, state)
        break;
      case "SE":
        return this.colorStates(type, state)
        break;
      case "TO":
        return this.colorStates(type, state)
        break;
      default:
        return 'yellow';
      }
    },
    colorStates(type, state){
      switch(type){
        case "IQA":
          return this.iqaColorCalculate(state);
          break;
        case "PH":
            return this.phColorCalculate(state);
          break;
        case "TURB":
          return this.tubidezColorCalculate(state);
          break;
        case "TDS":
          return this.tdsColorCalculate(state);
          break;
      }
    },
    phColorCalculate(state) {
      var phValue = []
      for(var i in this.statesData){
        if(this.statesData[i].state === state)
        {
          phValue.push(this.statesData[i].ph)
        }
      }
      if(phValue.length != 0)
      {
        var sum = phValue.reduce((a, b) => a + b, 0);
        var media = (sum/(phValue.length))
        if(media >= 6 && media <= 9){
          return this.e
        }
        else if((media >= 0 && media <= 2) || (media >= 12 && media <= 14)){
          return this.a
        }
        else if((media > 2 && media <= 3) || (media >= 11 && media < 12)){
          return this.b
        }
        else if((media > 3 && media <= 4) || (media >= 10 && media < 11)){
          return this.c
        }
        else if((media > 4 && media <= 6) || (media >= 9 && media < 10)){
          return this.d
        }
      }
      else
      {
        return '#f2efe9'
      }
    },
    tdsColorCalculate(state) {
      var tdsValue = []
      for(var i in this.statesData){
        if(this.statesData[i].state === state)
        {
          tdsValue.push(this.statesData[i].tds)
        }
      }
      if(tdsValue.length != 0)
      {
        var sum = tdsValue.reduce((a, b) => a + b, 0);
        var media = (sum/(tdsValue.length))
        if(media <= 500){
          return this.e
        }
        else if(media > 500 && media <= 550){
          return this.d
        }
        else if(media > 550 && media <= 600){
          return this.c
        }
        else if(media > 650 && media <= 700){
          return this.b
        }
        else if(media > 750){
          return this.a
        }
      }
      else
      {
        return '#f2efe9'
      }
    },
    tubidezColorCalculate(state) {
      var turbValue = []
      for(var i in this.statesData){
        if(this.statesData[i].state === state)
        {
          turbValue.push(this.statesData[i].turbidez)
        }
      }
      if(turbValue.length != 0)
      {
        var sum = turbValue.reduce((a, b) => a + b, 0);
        var media = (sum/(turbValue.length))
        if(media <= 100){
          return this.e
        }
        else if(media > 100 && media <= 150){
          return this.d
        }
        else if(media > 150 && media <= 200){
          return this.c
        }
        else if(media > 200 && media <= 250){
          return this.b
        }
        else if(media > 250){
          return this.a
        }
      }
      else
      {
        return '#f2efe9'
      }
    },
    iqaColorCalculate(state) {
      var iqaValue = []
      for(var i in this.statesData){
        if(this.statesData[i].state === state)
        {
          iqaValue.push(this.statesData[i].iqa)
        }
      }
      if(iqaValue.length != 0)
      {
        var sum = iqaValue.reduce((a, b) => a + b, 0);
        var media = (sum/(iqaValue.length))
        if(media >= 4){
          return this.e
        }
        else if(media <= 4 && media > 3){
          return this.d
        }
        else if(media <= 3 && media > 2){
          return this.c
        }
        else if(media <= 2 && media > 1){
          return this.b
        }
        else if(media < 1){
          return this.a
        }
      }
      else
      {
        return '#f2efe9'
      }
    },
  },
};
</script>

<style>
.state-map {
  width: inherit;
}
#state-map {
  width: inherit;
  height: 40vh;
}
</style>
