<template>
  <div class="wide-container column">
    <div class="row justify-center">
      <div class="chart-container col-12 column content-center">
        <slot>
          <img src="../../../assets/sample-chart.png" alt="Sample Chart" style="height: inherit; width: inherit;">
        </slot>
      </div>
    </div>
    <div class="legend-container">
      <slot name="legend"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WideContainer',
};
</script>

<style>
.wide-container {
  padding: 5vw;
}
.chart-container {
  :nth-child(n) {
    width: 100%;
  }
}
</style>
