// // app global css
.text-great {
  color: #19B217;
}
.bg-great {
  background: #19B217;
}
.text-good {
  color: #4EB73F;
}
.bg-good {
  background: #4EB73F;
}
.text-regular {
  color: #82BF73;
}
.bg-regular {
  background: #82BF73;
}
.text-bad {
  color: #A7C49E;
}
.bg-bad {
  background: #A7C49E;
}
.text-terrible {
  color: #B9C7B4;
}
.bg-terrible {
  background: #B9C7B4;
}
