<template>
  <q-layout>
    <q-layout-header>
      <q-toolbar color="light-blue-6" inverted>
        <q-toolbar-title>
          <div class="klara-logo column items-center">
            <a @click="goToHomePage()" class="klara-logo row items-center">
              <img src="../assets/klara.png" alt="Klara Logo" height="30">
              <img src="../assets/klara-text.png" alt="Klara Text" height="26" style="margin-left: 10px">
            </a>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'NoDrawerLayout',
  methods: {
    goToHomePage() {
      this.$router.push({ path: '/' });
    }
  },
};
</script>

<style media="screen">
.klara-logo {
  cursor: pointer;
}
</style>
